.relateproduct {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 100px;
}
.relateproduct h1 {
  font-size: 40px;
  font-weight: 600;
}
.relateproduct hr {
  width: 200px;
  height: 6px;
  border-radius: 10px;
  background: #bdbdbd;
}
.relate-item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 50px;
  gap: 30px;
}
@media (max-width: 800px) {
  .relateproduct h1 {
    font-size: 35px;
    font-weight: 600;
  }
  .relateproduct hr {
    width: 180px;
    height: 6px;
    border-radius: 10px;
    background: #bdbdbd;
  }
  .relate-item {
    gap: 20px;
  }
}
@media (max-width: 800px) {
  .relateproduct h1 {
    font-size: 35px;
    font-weight: 600;
  }
  .relateproduct hr {
    width: 180px;
    height: 6px;
    border-radius: 10px;
    background: #bdbdbd;
  }
}
@media (max-width: 500px) {
  .relate-item {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 40px;
  }
}
