.collection {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 100px;
}
.collection h1 {
  font-size: 40px;
  font-weight: 600;
}
.collection hr {
  width: 200px;
  height: 6px;
  border-radius: 10px;
  background: #bdbdbd;
}
.collect {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 50px;
  gap: 30px;
}
@media (max-width: 800px) {
  .collection h1 {
    font-size: 35px;
    font-weight: 600;
  }
  .collection hr {
    width: 180px;
    height: 6px;
    border-radius: 10px;
    background: #bdbdbd;
  }
  .collect {
    gap: 20px;
  }
}
@media (max-width: 800px) {
  .collection h1 {
    font-size: 35px;
    font-weight: 600;
  }
  .collection hr {
    width: 180px;
    height: 6px;
    border-radius: 10px;
    background: #bdbdbd;
  }
  .collect {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}
