.detail{
    display: flex;
    margin: 0px 170px;

}
.detail-left{
    display: flex;
    gap: 17px;

}
.detail-img-list{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.detail-img-list img{
    height: 163px;
}
.detail-main-image{
    width: 586px;
    height: 700px;
}
.detail-right{
    margin: 0px 70px;
    display: flex;
    flex-direction: column;

}
.detail-right h1{
    color: #3d3d3d;
    font-size: 40px;
    font-weight: 700;
}
.detail-right button{
    padding: 20px 40px;
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color:white;
    background: #ff4141;
    margin-bottom: 40px;
    border: none;
    outline: none;
    cursor: pointer;
}
.detail-star{
    display: flex;
    align-items: center;
    margin-top: 13px;
    gap: 5px;
    color: #1c1c1c;
    font-size: 16px;
}
.detail-price{
    display: flex;
    margin: 40px 0px;
    gap: 30px;
    font-size: 24px;
    font-weight: 700;

}
.detail-price-old{
    color: #818181;
    text-decoration: line-through;
}
.detail-price-new{
    color: #ff4141;
}
.detail-size h1{
    margin-top: 55px;
    color: #656565;
    font-size: 20px;
    font-weight: 500;
}
.size-display{
    display: flex;
    margin: 30px 0px;
    gap: 20px;
}
.size-display div{
    padding: 18px 24px;
    background: #fbfbfb;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    cursor: pointer;
}
.detail-category{
    margin-top: 10px;
}
.detail-category span{
    font-weight: 600;
}
