.item{
    width: 280px;
}
.item img{
    width: 280px;
}
.item p{
    margin: 6px 0px;
}
.item-price{
    display: flex;
    gap: 20px;
}
.price-new{
    color: #191919;
    font-size: 18px;
    font-weight: 500;
}
.price-old{
    text-decoration: line-through;
    color: #8c8c8c;
    font-size: 18px;
    font-weight: 300;
}
.item:hover{
    transform: scale(1.05);
    transition: 0.6s;
}
@media(max-width:1280px){
    .item{
        width: 220px;
        font-size: 14px;
    }
    .item img{
        width: 220px;
    }
    .price-new{
        font-size: 14px;

    }
    .price-old{
        font-size: 14px;
    }
}

@media(max-width: 1024px){
    .item{
        width: 160px;
    }
    .item img{
        width: 160px;
    }
    .item p{
        font-size: 13px;
    }
    .price-new{
        font-size: 13px;
    }
    .price-old{
        font-size: 13px;
    }
}
@media(max-width: 800px){
    .item{
        width: 120px;
    }
    .item img{
        width: 120px;
    }
    .item p{
        font-size: 12px;
    }
    .price-new{
        font-size: 12px;
    }
    .price-old{
        font-size: 12px;
    }
}
@media(max-width: 500px){
    .item{
        width: 160px;
    }
    .item img{
        width: 160px;
    }
    
}