.authen {
  width: 100%;
  height: 80vh;
  background: #f0f4f9;
  padding-top: 100px;
}

.container {
  width: 580px;
  height: auto;
  background-color: white;
  margin: auto;
  padding: 40px 60px;
  border-radius: 25px;
  transition: height 0.3s ease-in-out;
}

.container.login {
  height: 520px;
}

.container.signup {
  height: 680px;
}

.container h1 {
  margin: 20px 0px;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 30px;
}

.field input {
  height: 72px;
  width: 100%;
  padding-left: 20px;
  color: #5c5c5c;
  border: 1px solid #c9c9c9;
  outline: none;
  font-size: 18px;
}

.container button {
  width: 100%;
  height: 72px;
  color: white;
  background: #ff4141;
  margin-top: 30px;
  border: none;
  font-size: 24px;
  font-weight: 500;
  cursor: pointer;
}

.loginmess {
  margin-top: 20px;
  color: #5c5c5c;
  font-size: 18px;
  font-weight: 500;
}

.loginmess span {
  color: #ff4141;
  font-weight: 600;
  cursor: pointer;
}

.signupagree {
  display: flex;
  align-items: center;
  margin-top: 25px;
  gap: 20px;
  color: #5c5c5c;
  font-size: 18px;
  font-weight: 500;
}
@media (max-width: 800px) {
  .container {
    width: 400px;
  }

  .field input {
    font-size: 16px;
  }

  .container button {
    font-size: 20px;
  }

  .loginmess {
    margin-top: 20px;
    color: #5c5c5c;
    font-size: 16px;
    font-weight: 500;
  }

  .signupagree {
    font-size: 14px;
    font-weight: 500;
  }
}
@media (max-width: 500px) {
  .container {
    width: 100%;
  }
}
