.hero-banner {
  height: 50vw;
  margin: 20px auto;
  background: url("../Assets/images/hero_img.jpg") no-repeat;
  background-size: contain;
  position: relative;
}
.hero-banner-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1.5vw;
  max-width: 50%;
  bottom: 20%;
  left: 6vw;
  animation: fadeIn 3s;
}
.hero-banner-content h2 {
  font-weight: 500;
  font-size: max(4.5vw, 20px);
}
.hero-banner-content p {
  font-size: 1vw;
}
.hero-banner-content button {
  border: none;
  color: white;
  font-weight: 500;
  padding: 1vw 2.3vw;
  background-color: #091057;
  font-size: max(1vw, 13px);
  border-radius: 50px;
  cursor: pointer;
}
@media (max-width: 1050px) {
  .hero-banner {
    height: 38vw;
  }
  .hero-banner-content {
    max-width: 45%;
  }
}

@media (max-width: 750px) {
  .hero-banner-content {
    max-width: 55%;
  }
  .hero-banner-content p {
    display: none;
  }
  .hero-banner-content button {
    padding: 2vw 4vw;
  }
}
