.cartitems{
    margin: 100px 170px;
}
.cartitems hr{
    height: 3px;
    background: #e2e2e2;
    border: 0;
}
.cartitems-main{
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 75px;
    padding: 20px 0px;
    color: #454545;
    font-size: 18px;
    font-weight: 600;
}
.cartitems-format{
    font-size: 17px;
    font-weight: 500px;
}
.cartitems-product-icon{
    height: 62px;

}
.cartitems-remove-icon{
    width: 15px;
    margin: 0px 40px;
}
.cartitems-quantity{
    width: 64px;
    height: 50px;
    border: 2px solid #ebebebeb;
    background: #fff;

}
.cartitems-down{
    display: flex;
    margin: 100px 0px;
}
.cartitems-total{
    flex: 1;
    flex-direction: column;
    margin-right: 200px;
    gap: 40px;
}
.cartitems-total button{
    width: 262px;
    height: 58px;
    color:#fff;
    background: #ff5a5a;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 600px;
    cursor: pointer;

}
.cartitems-total-item{
    display: flex;
    justify-content: space-between;
    padding: 15px 0px;
}
.cartitems-voucher{
    flex: 1;
    font-size: 16px;
    font-weight: 500;

}
.cartitems-voucher p{
    color: #555;
}
.cartitems-voucherbox{
    width: 504px;
    margin-top: 15px;
    padding-left: 20px;
    height: 58px;
    background: #eaeaea;
}
.cartitems-voucherbox input{
    border: none;
    outline: none;
    background: transparent;
    font-size: 16px;
    width: 330px;
    height: 50px;
}
.cartitems-voucherbox button{
    height: 58px;
    width: 170px;
    background: black;
    color: #fff;
    cursor: pointer;
    
}